body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  border: 1px solid red;
}


/* fonts */
/* 
font-family: 'Castoro Titling', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Phudu', cursive;
font-family: 'Raleway', sans-serif;
*/

/* Colors */
/* 
#ffffff     White
#495228     Dark moss green
#f2f342     Icterine (yellow)
#fc5100     Aerospace orange 
#002e51     Prussian Blue
#fdd3bf     Apricot (pink/beige)
#000000     Black
*/

/* ========== START MAIN PAGE GRID STYLES ========== */
.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  grid-row: 2;
  /* Assigns the main content to the second row of the grid */
  grid-column: 1 / span 2;
  /* Makes the main content span across the two columns */
}

.map-container {
  grid-column: 1;
  position: relative;
}

.writing-container {
  grid-column: 2;
  overflow-y: auto;
  /* position: absolute; */
  z-index: 1;
  /* TODO: Provide a z-index higher than map container */
  width: 100%;
  margin-top: 2rem;
}

.content-background {
  background-color: #ffffff;
}

.mapRender {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container,
.writing-container {
  order: -1;
}

/* .content {
  position: relative;
  z-index: 1;
} */

.hidden {
  display: none;
}

.visible {
  display: block;
}



/* ========== END MAIN PAGE GRID STYLES ========== */


/* ========== START NAV STYLES ========== */
.navbar-toggler {
  display: block !important;
  position: fixed;
  background: #fc5100;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  top: 0;
  bottom: 0;
  right: .2rem;
  margin: .5rem;
}

.navbar {
  justify-content: center;
  background-color: transparent;
  grid-row: 1;
  /* Assigns the navbar to the first row of the grid */
  grid-column: 1 / span 2;
  /* Makes the navbar span across the two columns */
}

.home-link-styles,
.intro-title,
.intro-subtitle {
  font-family: 'Castoro Titling';
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: #FC5100;
}

.menu-icon {
  height: 100%;
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: translateY(50%); */
  transition: transform 0.3s ease-out;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #495228;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  /* animate the height */
}

.overlay-active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  display: flex;
  /* when the menu is open, the height is 100% */
}

.show {
  transform: translateY(0);
}

.state-margins {
  margin-top: 2rem;
}

.home-link {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}



/* ========== END NAV STYLES ========== */

/* ========== START HERO STYLES ========== */
.hero-section {
  background-color: inherit;
  min-height: 65vh;
  padding: 0 2rem;
  margin-bottom: 90vh !important;
}

.intro-title {
  font-size: x-large;
}

.intro-subtitle,
.park-title {
  font-size: large;
}

.intro-paragraph {
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  word-spacing: 4.3px;
  line-height: 1.75rem;
}

section p {
  margin-bottom: 0 !important;
}


/* ========== END HERO STYLES ========== */

/* ========== START PHOTO GRID STYLES ========== */
.grid {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  grid-auto-flow: dense;
}

.grid .box {
  grid-column-start: auto;
}

.grid .box .image-wrapper {
  background-position: center;
  background-size: cover;
}

.grid .box--1x1 .image-wrapper {
  padding-bottom: 100%;
}

.grid .box--1x2 {
  grid-row-end: span 2;
}

.grid .box--1x2 .image-wrapper {
  padding-bottom: 150%;
}

.grid .box--2x1 {
  grid-column-end: span 2;
}

.grid .box--2x1 .image-wrapper {
  padding-bottom: calc(50% - 2px);
}

.grid .box--2x2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.grid .box--2x2 .image-wrapper {
  padding-bottom: 100%;
}

.grid .box--3x1 {
  grid-column-end: span 3;
}

.grid .box--3x1 .image-wrapper {
  padding-bottom: 33.33%;
}

.grid .box--3x2 {
  grid-column-end: span 3;
}

.grid .box--3x2 .image-wrapper {
  padding-bottom: 66.66%;
}

.grid .box--3x3 {
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.grid .box--3x3 .image-wrapper {
  padding-bottom: 100%;
}

/* ========== END PHOTO GRID STYLES ========== */

/* ========== START STATE SECTION STYLES ========== */

.state-section,
.park-section,
.last-park {
  margin-bottom: 90vh !important;
}

/* ========== END STATE SECTION STYLES ========== */


/* ========== START MEDIA QUERY ========== */

@media screen and (max-width: 767px) {

  .grid .box--1x1,
  .grid .box--1x2,
  .grid .box--2x2,
  .grid .box--3x3,
  .grid .box--2x1,
  .grid .box--3x1,
  .grid .box--3x2 {
    grid-column-end: span 3;
  }

  .grid .box--1x1 .image-wrapper,
  .grid .box--1x2 .image-wrapper,
  .grid .box--2x1 .image-wrapper,
  .grid .box--2x2 .image-wrapper,
  .grid .box--3x3 .image-wrapper,
  .grid .box--3x1 .image-wrapper,
  .grid .box--3x2 .image-wrapper {
    padding-bottom: 100%;
  }
}




@media screen and (min-width: 992px) {
  .app-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }

  .map-container,
  .writing-container {
    order: 0;
  }

  .writing-container {
    position: relative;
    /* Make the writing container position relative on larger screens */
    width: 100%;
  }
}


/* large devices greater than or equal to 992px width */
@media (min-width: 992px) {
  .home-link {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }

  .state-margins {
    margin: 0rem 2rem 0rem 2rem;
  }

  .hero-section {
    min-height: fit-content;
  }
}

/* ========== END MEDIA QUERY ========== */