body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: change overlay menu color to this blue color that matches the blue hue of space around the Earth */

/* Used for debugging: Uncomment to display red border around all elements */
/* body * {
  border: 1px solid red;
} */

/* ========== START MAIN PAGE GRID STYLES ========== */
/* Main page layout is organized in a grid */
.app-container {
  display: grid;
  height: 100vh;
}

/* Main content area spans across two grid columns */
.main-content {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
}

.map-container {
  grid-column: 1;
  position: relative;
}

/* Writing container set to a sticky position, making it always visible while scrolling */
.writing-container {
  grid-column: 2;
  overflow-y: auto;
  position: sticky;
  z-index: 1;
  width: 100%;
  margin-top: 2rem;
}

.content-background {
  background-color: #ffffff;
}

/*Map render is set to cover the whole viewport */
.mapRender {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container,
.writing-container {
  order: -1;
}

/* Utility classes below used to hide or show elements */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* ========== END MAIN PAGE GRID STYLES ========== */


/* ========== START NAV STYLES ========== */
.navbar-toggler {
  display: block !important;
  position: fixed;
  background: #fc5100;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  top: 0;
  bottom: 0;
  right: .2rem;
  margin: .5rem;
  padding: 0.35rem 0.50rem;
}

.navbar {
  justify-content: center;
  background-color: transparent;
  grid-row: 1;
  /* Assigns the navbar to the first row of the grid */
  grid-column: 1 / span 2;
  /* Makes the navbar span across the two columns */
}

.home-link-styles,
.intro-title,
.intro-subtitle,
.nav-link-active h2 {
  font-family: 'Castoro Titling';
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: #FC5100;
}

.nav-link-active h2 {
  color: #DEAA45 !important;
}

a.nav-link-active {
  color: #FC5100;
  text-decoration: none;
  align-items: center;
}

.nav-link-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-icon {
  height: 100%;
  width: 100%;
}

.menu-icon .line1,
.menu-icon .line2,
.menu-icon .line3 {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-icon.open .line1 {
  transform: rotate(45deg) translate(15px, -10px);
}

.menu-icon.open .line2 {
  opacity: 0;
}

.menu-icon.open .line3 {
  transform: rotate(-45deg) translate(-20px, 2px);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-out;
}

/* Overlay menu styles - initially hidden */
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #495228;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  /* animate the height */
}

/* Active overlay meny styles - makes the overlay menu visible */
.overlay-active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  display: flex;
}

.show {
  transform: translateY(0);
}

.state-margins {
  margin-top: 2rem;
}

.home-link {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Remove the focus box shadow from navbar toggler for cleaner UI */
.navbar-toggler:focus {
  box-shadow: none !important;
}

.state-icon-size {
  width: clamp(2.5rem, 7vw, 3.5rem);
}

/* ========== END NAV STYLES ========== */

/* ========== START HERO STYLES ========== */
.hero-section {
  background-color: inherit;
  min-height: fit-content;
  padding: 0 2rem;
  margin-bottom: 90vh !important;
}

.intro-title {
  font-size: x-large;
}

.intro-subtitle,
.park-title {
  font-size: large;
}

.intro-paragraph {
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  word-spacing: 4.3px;
  line-height: 1.75rem;
}

section p {
  margin-bottom: 0 !important;
}


/* ========== END HERO STYLES ========== */

/* ========== START PHOTO GRID STYLES ========== */
/* Grid for photo display is created with three equal width columns */
.grid {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  grid-auto-flow: dense;
}

/* class 'box' refers to a single cell in the grid. Allows the browser to automatically decide which column the box should start in */
.grid .box {
  grid-column-start: auto;
}

/* Defines different box sizes for the photo grid. Each box size is defined with a column and row span. */
.grid .box .image-wrapper {
  background-position: center;
  background-size: cover;
}

/* .box--1x1 spans ONE Column & ONE Row */
.grid .box--1x1 .image-wrapper {
  padding-bottom: 100%;
}

.grid .box--1x2 {
  grid-row-end: span 2;
}

.grid .box--1x2 .image-wrapper {
  padding-bottom: 150%;
}

/* .box--2x1 spans TWO Columns & ONE Row */
.grid .box--2x1 {
  grid-column-end: span 2;
}

.grid .box--2x1 .image-wrapper {
  padding-bottom: calc(50% - 2px);
}

.grid .box--2x2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.grid .box--2x2 .image-wrapper {
  padding-bottom: 100%;
}

/* .box--3x1 spans THREE Columns & ONE Row */
.grid .box--3x1 {
  grid-column-end: span 3;
}

.grid .box--3x1 .image-wrapper {
  padding-bottom: 33.33%;
}

.grid .box--3x2 {
  grid-column-end: span 3;
}

.grid .box--3x2 .image-wrapper {
  padding-bottom: 66.66%;
}

.grid .box--3x3 {
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.grid .box--3x3 .image-wrapper {
  padding-bottom: 100%;
}

/* ========== END PHOTO GRID STYLES ========== */

/* ========== START STATE SECTION STYLES ========== */
/* Creates a significant bottom margin to create more space between sections */
.state-section,
.park-section,
.last-park {
  margin-bottom: 90vh !important;
}

/* ========== END STATE SECTION STYLES ========== */

/* ========== START LANGUAGE SWITCHER AND LANGUAGE SWITCHER WRAPPER STYLES ========== */
.language-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.language-name {
  margin-left: 5px;
  font-size: 10px;
}

.language-switcher {
  position: fixed;
  top: 0;
  left: 0.2rem;
  margin: 0.5rem;
  z-index: 1000;
  background-color: rgba(253, 211, 191, 0.9);
  cursor: pointer;
  padding: 5px 2px;
  font-size: 14px;
  border-radius: 4px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  width: 5.5rem;
  text-align: center;
}

.language-switcher:hover {
  background-color: rgba(253, 211, 191, 0.9);
}

.language-options {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  background-color: rgba(253, 211, 191, 0.9);
  /* border: 1px solid rgba(255, 255, 255, 0.8); */
  padding: 5px;
  border-radius: 4px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  width: 5.5rem;
  height: auto;
  text-align: center;
}

/* .language-options button {
  background-color: rgba(255, 255, 255, 0.8)!important;
} */

.language-switcher:hover .language-options,
.language-switcher .language-options.show {
  display: block;
}

.language-options button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 12px;
  display: block;
  width: 100%;
  text-align: left;
}

.language-options button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* ========== END LANGUAGE SWITCHER AND LANGUAGE SWITCHER WRAPPER STYLES ========== */


/* ========== START MEDIA QUERY ========== */
/* Adjusts the layout of the grid so that all boxes span three columns - the entire width of the grid, for a better appearance on Small Screens */
@media screen and (max-width: 767px) {

  .grid .box--1x1,
  .grid .box--1x2,
  .grid .box--2x2,
  .grid .box--3x3,
  .grid .box--2x1,
  .grid .box--3x1,
  .grid .box--3x2 {
    grid-column-end: span 3;
  }

  .grid .box--1x1 .image-wrapper,
  .grid .box--1x2 .image-wrapper,
  .grid .box--2x1 .image-wrapper,
  .grid .box--2x2 .image-wrapper,
  .grid .box--3x3 .image-wrapper,
  .grid .box--3x1 .image-wrapper,
  .grid .box--3x2 .image-wrapper {
    padding-bottom: 100%;
  }
}

/* For Medium Screens */
@media screen and (min-width: 992px) {
  .app-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }

  .map-container,
  .writing-container {
    order: 0;
  }

  .writing-container {
    position: relative;
    width: 100%;
  }
}


/* For Large Screens */
@media (min-width: 992px) {
  .home-link {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }

  .nav-link-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .state-margins {
    margin: 0rem 2rem 0rem 2rem;
  }

  .hero-section {
    min-height: fit-content;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) and (max-width: 915px) and (min-height: 360px) and (max-height: 540px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }

  a.nav-link-active {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 1rem;
}
}

/* ========== END MEDIA QUERY ========== */